<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-default " id="backToTop" style=" background-color: white; height: 80px;  top: 0px; margin-left: 0px; width:100%; left: 0px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="margin-top: 25px;">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="font-size: 40px;font-weight: 900;margin-top:7%">WELCOME</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" style="color: black;font-weight: 600 ;font-size: larger ;margin-top: 15px;">Dashboard</a></li>

                <li><a href="user/logout"  style="color: black;font-weight: 600 ;font-size: larger;margin-top: 15px; background-color: white">Logout</a></li>






            </ul>

        </div>
    </div>
</nav>




<!--end of navbar-->
<br>

<div class="container">
    <div class="row">


        <div class="col-lg-6">
<h1>Welcome To Your Profile</h1>
            <br>
           <h3>Total Notes Written:&nbsp;<span style="color: red">something from server</span></h3>
        </div>
        <div class="col-lg-6">
<form method="post" action="profile">
<input type="text" style="height: 300px; width: 100%;background-color: whitesmoke" id="notearea" name="notepost">
            <br> <br>
            <button class="btn btn-primary" style="box-align: center;float: right" id="savethenote">Save This Note</button>
</form>

        </div>
    </div>
</div>


</body>
</html>